# git-lfs
*		text=auto

## Unity
*.prefab filter=lfs diff=lfs merge=unityyamlmerge -text
*.unity filter=lfs diff=lfs merge=unityyamlmerge -text
*.unitypackage filter=lfs diff=lfs merge=unityyamlmerge -text
*LightingData*.asset filter=lfs diff=lfs merge=unityyamlmerge -text
LightmapSnapshot.asset filter=lfs diff=lfs merge=unityyamlmerge -text
*Terrain*.asset filter=lfs diff=lfs merge=unityyamlmerge -text
**/Terrain/*.asset filter=lfs diff=lfs merge=unityyamlmerge -text
*.exr filter=lfs diff=lfs merge=unityyamlmerge -text
*.bundle filter=lfs diff=lfs merge=unityyamlmerge -text
*.*graph* filter=lfs diff=lfs merge=unityyamlmerge -text
*.[Vv][Ff][Xx] filter=lfs diff=lfs merge=unityyamlmerge -text
*.vf filter=lfs diff=lfs merge=unityyamlmerge -text
*.mat filter=lfs diff=lfs merge=unityyamlmerge -text
*.anim filter=lfs diff=lfs merge=unityyamlmerge -text
*.controller filter=lfs diff=lfs merge=unityyamlmerge -text
*.physicsMaterial* filter=lfs diff=lfs merge=unityyamlmerge -text

## Image
*.[Tt][Ii][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Ii][Ff][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Jj][Pp][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Jj][Pp][Ee][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Nn][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Gg][Ii][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Ss][Dd] filter=lfs diff=lfs merge=lfs -text
*.[Bb][Mm][Pp] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Gg][Aa] filter=lfs diff=lfs merge=lfs -text
*.[Ii][Cc][Oo] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Ii][Cc][Tt] filter=lfs diff=lfs merge=lfs -text
*.[Aa][Ii] filter=lfs diff=lfs merge=lfs -text
*.[Hh][Dd][Rr] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Ee][Rr] filter=lfs diff=lfs merge=lfs -text
*.[Hh][Ff][Zz] filter=lfs diff=lfs merge=lfs -text
*.[Rr][Aa][Ww]* filter=lfs diff=lfs merge=lfs -text
*.[Rr]16 filter=lfs diff=lfs merge=lfs -text
*.[Rr]32 filter=lfs diff=lfs merge=lfs -text

## Font
*.[Oo][Tt][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Tt][Ff] filter=lfs diff=lfs merge=lfs -text

## Audio
*.[Mm][Pp]3 filter=lfs diff=lfs merge=lfs -text
*.[Ww][Aa][Vv] filter=lfs diff=lfs merge=lfs -text
*.[Oo][Gg][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Aa][Ii][Ff]* filter=lfs diff=lfs merge=lfs -text
*.[Ii][Tt] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Oo][Dd] filter=lfs diff=lfs merge=lfs -text
*.[Ss]3[Mm] filter=lfs diff=lfs merge=lfs -text
*.[Xx][Mm] filter=lfs diff=lfs merge=lfs -text

## Video
*.[Mm][Pp]4 filter=lfs diff=lfs merge=lfs -text
*.[Mm][Oo][Vv] filter=lfs diff=lfs merge=lfs -text
*.[Aa][Vv][Ii] filter=lfs diff=lfs merge=lfs -text
*.[Ff][Ll][Vv] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Pp][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Ww][Mm][Vv] filter=lfs diff=lfs merge=lfs -text

## 3D Object
*.[Ff][Bb][Xx] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Aa][Xx] filter=lfs diff=lfs merge=lfs -text
*.[Oo][Bb][Jj] filter=lfs diff=lfs merge=lfs -text
*.[Ss][Kk][Pp] filter=lfs diff=lfs merge=lfs -text
*.3[Dd][MmSs]  filter=lfs diff=lfs merge=lfs -text
*.[Cc]4[Dd]    filter=lfs diff=lfs merge=lfs -text
*.collada      filter=lfs diff=lfs merge=lfs -text
*.[Dd][Aa][Ee] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Xx][Ff] filter=lfs diff=lfs merge=lfs -text
*.jas filter=lfs diff=lfs merge=lfs -text
*.lws filter=lfs diff=lfs merge=lfs -text
*.lxo filter=lfs diff=lfs merge=lfs -text
*.ma filter=lfs diff=lfs merge=lfs -text
*.mb filter=lfs diff=lfs merge=lfs -text
*.ply filter=lfs diff=lfs merge=lfs -text
*.skp filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.ztl filter=lfs diff=lfs merge=lfs -text
*.blend* filter=lfs diff=lfs merge=lfs -text

## Lib
*.[Aa] filter=lfs diff=lfs merge=lfs -text
*.[Jj][Aa][Rr] filter=lfs diff=lfs merge=lfs -text
*.[Ss][Oo] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Ll][Ll] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Dd][Bb] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Dd][Bb] filter=lfs diff=lfs merge=lfs -text
*.[Ee][Xx][Ee] filter=lfs diff=lfs merge=lfs -text

## Data
*.mb filter=lfs diff=lfs merge=lfs -text
*.[Dd][Bb] filter=lfs diff=lfs merge=lfs -text
*.[Bb][Yy][Tt][Ee] filter=lfs diff=lfs merge=lfs -text
*.[Bb][Yy][Tt][Ee][Ss] filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text

## Doc
*.[Pp][Dd][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Cc][Hh][Mm] filter=lfs diff=lfs merge=lfs -text

# Compressed Archives
*.[Zz][Ii][Pp] filter=lfs diff=lfs merge=lfs -text
*.7[Zz] filter=lfs diff=lfs merge=lfs -text
*.[Gg][Zz] filter=lfs diff=lfs merge=lfs -text
*.[Rr][Aa][Rr] filter=lfs diff=lfs merge=lfs -text

## Etc
*.[Pp][Dd][Ff] filter=lfs diff=lfs merge=lfs -text
*.aif filter=lfs diff=lfs merge=lfs -text
*.rns filter=lfs diff=lfs merge=lfs -text
*.reason filter=lfs diff=lfs merge=lfs -text
*.lxo filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.awb filter=lfs diff=lfs merge=lfs -text
*.acb filter=lfs diff=lfs merge=lfs -text
*.swatch filter=lfs diff=lfs merge=lfs -text
*.swatches filter=lfs diff=lfs merge=lfs -text
*.VIX filter=lfs diff=lfs merge=lfs -text
*.acf filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
*.odt filter=lfs diff=lfs merge=lfs -text
*.[Mm][Ss][Ii] filter=lfs diff=lfs merge=lfs -text